body {
    margin: 0px;
    overflow: hidden;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    user-select: none;
}
p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#stats {
    position: fixed;
    top: 0;
}
#hint {
    background-color: rgba(255, 255, 255, 0.1);
    user-select: none;
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
}
